<div class="container">
    <div class="gradient-background"></div>
    
    <div class="search-container">
      <textarea 
        [(ngModel)]="searchText"
        placeholder="Browse for me"
        (keyup.enter)="submitSearch()"
        [class.has-response]="searchResponse"
        class="search-input">
      </textarea>
  
      <div class="button-container">
        <button 
          (click)="submitSearch()"
          [disabled]="searching"
          class="search-button">
          <span>{{ searchResponse ? 'Search Again' : 'Browse for me' }}</span>
        </button>
      </div>
  
      <div *ngIf="!apiKey" class="api-warning">
        Please enter your API key in settings to use Browse for Me
      </div>
  
      <div *ngIf="searching" class="searching-text">
        Searching...
      </div>
  
      <div class="response-container markdown-body" [innerHTML]="searchResponse"></div>
    </div>
  </div>